@using HRManagement.Web.Models;
@{
    ViewData["Title"] = "ConfirmEmail";
}

<h1>Bienvenue @Model.Email</h1>
<a class="btn btn-outline-primary" asp-controller="Account" asp-action="Edit" asp-route-id="@Model.Id">Commencer votre inscription</a>
