@model HRManagement.Web.Dto.EditViewModel
@{
    ViewData["Title"] = "Edit";
}
<style>
    .btn-circle2 {
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        padding: 0;
        border-radius: 50%;
    }

        .btn-circle2 i {
            position: relative;
            top: -1px;
        }

    .btn-circle-sm {
        width: 20px;
        height: 20px;
        line-height: 18px;
        font-size: 0.9rem;
    }

    .btn-circle-lg {
        width: 30px;
        height: 30px;
        line-height: 2px;
        font-size: 1.9rem;
    }

    .btn-circle-xl {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 1.3rem;
    }

    h1 {
        margin: 0;
    }

    button {
        margin-left: auto; /* Push this element to the right */
    }
    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>

<div class="container">
    <h2 class="sub-header">Inscription </h2>
@*    <button type="button" class="btn btn-primary btn-circle btn-circle-lg m-2" data-toggle="modal" data-target="#exampleModalMission">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalMission" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  Informations - Mentions légales</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding:10px">
                    <br />
                    Les informations personnelles recueillies dans ce formulaire, avec votre consentement, ont pour finalité votre embauche au sein de la société HRManagement
                    <br />
                    <br />
                    Nous tenons à préciser la collecte et le traitement de ces données est nécessaire à la gestion du personnel de l’entreprise et aux différentes déclarations aux organismes sociaux.
                    <br />
                    <br />
                    la clause de données personnelles dans le contrat de travail prévoit une durée de conservation égale à la durée d’exécution du contrat de travail.
                    <br />
                    <br />
                    Conformèment au RGPD - Réglement Général de Protection de Données, vous bénéficiez d'un droit d'un droit d'accès, de rectification des informations vous concernant.
                    <br />
                    <br />
                    Pour cela, vous pouvez contacter le Délégué à la protection des données de HRManagement a l'addresse suivante damienmonchaty@gmail.com
                    <br />
                    <br />
                    Vous pouvez également faire une réclamamtion auprès de la CNIL - 3, place Fontenoy - TSA 80715 PARIS CEDEX ou www.cnil.fr
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>*@
    <div class="stepwizard col-md-offset-3">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                <p>Informations</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p>Diplomes</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p>Entreprise</p>
            </div>
        </div>
    </div>
    <form method="post" asp-controller="Account" asp-action="Edit" asp-route-id="@Model.Id">
        <div class="row setup-content" id="step-1">
            <div class="col-6">
                <h3>Vos informations</h3>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" class="form-control" hidden />
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label>Mot de passe</label>
                    <input asp-for="Password" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Confirmer mot de passe</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Nom</label>                    
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Prénom</label>
                    <input asp-for="LastName" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Date d'anniversaire'</label>
                    <input asp-for="BirthDate" class="form-control" type="datetime" />
                </div>
                <div class="form-group">
                    <label>Lîeu de naissance</label>
                    <input asp-for="BirthPlace" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Pays de naissance</label>
                    <input asp-for="BirthCountry" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Nationalité</label>
                    <input asp-for="Nationality" class="form-control" />
                </div>
            </div>
            <div class="col-6">
                <h3>Votre adresse</h3>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Rue 1</label>
                    <input asp-for="Address.Street1" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Rue 2</label>
                    <input asp-for="Address.Street2" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Rue 3</label>
                    <input asp-for="Address.Street3" class="form-control" type="datetime" />
                </div>
                <div class="form-group">
                    <label>Code postal</label>
                    <input asp-for="Address.ZipCode" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Ville</label>
                    <input asp-for="Address.City" class="form-control" />
                </div>
                <button class="btn btn-outline-primary nextBtn btn-lg pull-right" type="button">Next</button>
            </div>     
        </div>
        <div class="row setup-content" id="step-2">
            <div class="col-5">
                <h3>Poste</h3>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Poste</label>
                    <input asp-for="PositionEnum" class="form-control" readonly />
                </div>
                <h3>CNI / Securité Sociale</h3>
                <hr />
                <div class="form-group">
                    <label>Numéro de carte d'identité'</label>
                    <input asp-for="NatCardNumber" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Numéro de carte de sécurité sociale</label>                    
                    <input asp-for="SecCardNumber" class="form-control" />
                </div>
                <button class="btn btn-outline-primary prevBtn btn-lg pull-left" type="button">Previous</button>
            </div>
            <div class="col-7 column">
                <h3>Parcours</h3>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input onclick="addRow1()" type="button" value="+" class="btn btn-outline-secondary"/>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="text-center">
                                <th>
                                    Libelle
                                </th>
                                <th>
                                    Date de début
                                </th>
                                <th>
                                    Date de fin
                                </th>
                            </tr>
                        </thead>
                        <tbody id="AddSchoolsItemsTable" data-count="0">
                        </tbody>
                    </table>
                </div>
                <h3>Mes diplômes</h3>
                <hr />
                <div class="form-group">
                    <input onclick="addRow2()" type="button" value="+" class="btn btn-outline-secondary" />
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="text-center">
                                <th>
                                    Libelle
                                </th>
                                <th>
                                    Date de début
                                </th>
                                <th>
                                    Date de fin
                                </th>
                            </tr>
                        </thead>
                        <tbody id="AddDiplomasItemsTable" data-count="0">
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-outline-primary nextBtn btn-lg pull-right" type="button">Next</button>
            </div>             
        </div>
        <div class="row setup-content" id="step-3">
            <div class="col-6">
                <h3>Votre salaire</h3>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Salaire Brut</label>
                    <input asp-for="BrutSalary" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label>Salaire Net</label>                    
                    <input asp-for="NetSalary" class="form-control" readonly />
                </div>
                <button class="btn btn-outline-primary prevBtn btn-lg pull-left" type="button">Previous</button>
            </div>
            <div class="col-6">
                <h3>Autres ...</h3>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <button class="btn btn-outline-success btn-lg pull-right" type="submit">Envoyer <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
            </div>                
        </div>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    $(document).ready(function () {
        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn'),
            allPrevBtn = $('.prevBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allPrevBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");
            prevStepWizard.removeAttr('disabled').trigger('click');
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }
            nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');
    });
  
    function addRow1() {
        //var counter1 = 0;
        var counter1 = parseInt($('#AddSchoolsItemsTable').attr('data-count'));
        console.log(counter1);
        var table = document.getElementById("AddSchoolsItemsTable");
        var row = table.insertRow(-1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        cell1.innerHTML = '<input type="text" name="Schools[' + counter1 + '].Libelle"/>';
        cell2.innerHTML = '<input type="text" name="Schools[' + counter1 + '].StartDate"/>';
        cell3.innerHTML = '<input type="text" name="Schools[' + counter1 + '].EndDate"/>';
        counter1 += 1;
        console.log(counter1);
        $('#AddSchoolsItemsTable').attr('data-count', counter1);
    }


    function addRow2() {
        //var counter2 = 0;
        var counter2 = parseInt($('#AddDiplomasItemsTable').attr('data-count'));
        console.log(counter2);
        var table = document.getElementById("AddDiplomasItemsTable");
        var row = table.insertRow(-1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        cell1.innerHTML = '<input type="text" name="Diplomas[' + counter2 + '].Libelle"/>';
        cell2.innerHTML = '<input type="text" name="Diplomas[' + counter2 + '].StartDate"/>';
        cell3.innerHTML = '<input type="text" name="Diplomas[' + counter2 + '].EndDate"/>';

        counter2 += 1;
        $('#AddDiplomasItemsTable').attr('data-count', counter2);
        console.log(counter2);
    }
 
</script>
<script src="https://use.fontawesome.com/e7537a5c4c.js"></script>

