  @model HRManagement.Web.Dto.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-lg-12">
            <div class="card card-block card-inverse card-primary text-center" style="background-color:cadetblue;color:whitesmoke;font-weight:bold">
                <h1 class="display-2 hidden-xs-down">
                    Nouvel employé
                </h1>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-10">
            <div class="card card-default card-block border-0">
                <form method="post" asp-controller="Account" asp-action="Register">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="BrutSalary"></label>
                        <input id="brutSalary" asp-for="BrutSalary" class="form-control" type="number" onkeyup="calculateNetSalary()" />
                    </div>
                    <div class="form-group">
                        <label asp-for="NetSalary"></label>
                        <input id="netSalary" asp-for="NetSalary" class="form-control" type="number" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Position"></label>
                        <select class="form-control" asp-for="Position" asp-items="Html.GetEnumSelectList<PositionEnum>()"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Role"></label>
                        <select class="form-control" asp-for="Role" asp-items="@((List<SelectListItem>)(ViewData["roles"]))"></select>
                    </div>
                    <button type="submit" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Envoyer</button>
                    <button type="reset" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Annuler</button>
                </form>
            </div>
            <!--/card-->
        </div>
    </div>
</div>
<script>
    function calculateNetSalary() {
        var brutSalary = document.getElementById("brutSalary").value;
        var tax = brutSalary / 4;
        var netSalary = brutSalary - tax;
        document.getElementById("netSalary").value = netSalary;
    }
</script>


