@model HRManagement.Web.Dto.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrutSalary"></label>
                <input asp-for="BrutSalary" class="form-control" type="number" />
                <span asp-validation-for="BrutSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetSalary"></label>
                <input asp-for="NetSalary" class="form-control" type="number" />
                <span asp-validation-for="NetSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionEnum"></label>
                <select multiple class="form-control" asp-for="PositionEnum" asp-items="Html.GetEnumSelectList<PositionEnum>()"></select>
                <span asp-validation-for="PositionEnum" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-primary">Register</button>
        </form>
    </div>
</div>
