body,
html {
    height: 100%;
}
    /* workaround modal-open padding issue */

    body.modal-open {
        padding-right: 0 !important;
    }

#sidebar {
    padding-left: 0;
}
/*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.btn-circle2 {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

    .btn-circle2 i {
        position: relative;
        top: -1px;
    }

.btn-circle-sm {
    width: 20px;
    height: 20px;
    line-height: 18px;
    font-size: 0.9rem;
}

.btn-circle-lg {
    width: 30px;
    height: 30px;
    line-height: 2px;
    font-size: 1.9rem;
}

.btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
}

h1 {
    margin: 0;
}

button {
    margin-left: auto; /* Push this element to the right */
}


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

    .btn-circle i {
        position: relative;
        top: -1px;
    }

.btn-circle-sm {
    width: 20px;
    height: 20px;
    line-height: 18px;
    font-size: 0.9rem;
}

.btn-circle-lg {
    width: 30px;
    height: 30px;
    line-height: 2px;
    font-size: 1.9rem;
}

.btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
}

#main {
    display: flex;
    align-items: center; /* Vertical align the elements to the center */
}

h1 {
    margin: 0;
}

button {
    margin-left: auto; /* Push this element to the right */
}

@media screen and (max-width: 48em) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -33%;
    }

    .row-offcanvas-left.active {
        left: 33%;
        margin-left: -6px;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 33%;
        height: 100%;
    }
}
/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */

@media screen and (max-width: 34em) {
    .row-offcanvas-left .sidebar-offcanvas {
        left: -45%;
    }

    .row-offcanvas-left.active {
        left: 45%;
        margin-left: -6px;
    }

    .sidebar-offcanvas {
        width: 45%;
    }
}

.card {
    overflow: hidden;
}

.card-block .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

    .card-block .rotate i {
        color: rgba(20, 20, 20, 0.15);
        position: absolute;
        left: 0;
        left: auto;
        right: -10px;
        bottom: 0;
        display: block;
        -webkit-transform: rotate(-44deg);
        -moz-transform: rotate(-44deg);
        -o-transform: rotate(-44deg);
        -ms-transform: rotate(-44deg);
        transform: rotate(-44deg);
    }
